body {
    text-align: center;
    background-color: var(--main-color);
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

form {
    background-color: var(--second-color);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    margin: 0 auto;
    box-shadow: -4px 5px 4px var(--shadow-color);
}

h1 {
    margin: 0 0 15px;
    font-family: "Quicksand", sans-serif;
}

input, select, button, a {
    margin-bottom: 15px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
}

select {
    width: 60px;
    text-align: center;
}

button, a {
    display: block;
    margin: 0 auto;
    width: 315px;
    background-color: var(--third-color);
    color: var(--shadow-color);
    border: 10px;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

a {
    margin-top: 15px;
}

@media print{
    a {
        display: none;
    }
}

/* Kumpulan warna */
:root {
    --main-color: #003C43;
    --second-color: #135D66;
    --third-color: #77B0AA;
    --shadow-color: #222831;
    --white-color: #F5F8FD
};